# fly.toml app configuration file generated for one-learn-zakisheriff on 2025-12-11T12:50:00+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'one-learn-zakisheriff'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  NODE_ENV = "production"
  # FRONTEND_URL will be the fly app url
  FRONTEND_URL = "https://one-learn-zakisheriff.fly.dev"
